<footer class="pt-4 my-md-0 pt-md-5 border-top foter">
    <div class="row">
      <div class="col-12 col-md ">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 lista">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><a class="lista" href="#">Somos una compañía dedicada a la prestación de servicios de consultoría, sistemas y comunicaciones</a></li>
    
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Compania</h5>
        <ul class="list-unstyled text-small">
          <li><a class="lista" routerLink="/quien">Misión</a></li>
          <li><a class="lista" routerLink="/quien">Visión</a></li>
          <li><a class="lista"  routerLink="/infra">Servicios</a></li>
          <li><a class="lista" routerLink="/contacto">Contáctenos</a></li>
        </ul>
      </div>



      <div class="col-6 col-md">
        <h5>Datos de contacto</h5>
        <ul class="list-unstyled text-small">
          <li><a class="lista" href="#">Email: comercial@tecsoni.com.co</a></li>
          <li><a class="lista" href="#">Tel: 3115820604</a></li>
          <li><a class="lista" href="#">Tel: 9330620</a></li>
          <li><a href="https://www.facebook.com/Tecsoni-SAS-104823024398497/?modal=admin_todo_tour"><i class="fa fa-facebook-square redes"></i></a><a href=" https://wa.me/573115820604?text=Hola,%20Gracias%20por%20contactarnos"><i class="fa fa-whatsapp redes"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>