<section class="fondop">
    <div class="fondop1">
      <h2 class="text-center">Sistemas</h2><br>
      <ul class="list-inline centra">
          <li class="list-inline-item"><a class="text-xs-center" href="#"><i class="fa fa-home"></i></a> </li>
          <li class="list-inline-item"><a class="text-xs-center" href="#"> ></a></li>
          <li class="list-inline-item"><a class="text-xs-center" href="#">Sistemas</a></li>
       </ul>
      </div>
    </section> 
    
    <section >
  
  <section class="full-width formated-section">
      <div class="container"> 
      
         
          
             <div class="col-xs-12 col-sm-6 col-md-6 col-lg centra">
              <h1 class="">Sistemas</h1>
              <hr> 
               <P class="text-justify " >
                  Las organizaciones necesitan cada vez más trabajar sobre plataformas estables y optimizadas, con una adecuada gestión de su almacenamiento, así como disponer de una red correctamente dimensionada y con un uso adecuado de los recursos.
                  <br>
                  Para llevar a cabo un proyecto de integración de sistemas en una organización, es importante conocer desde el principio el estado actual de su infraestructura, analizar todas las posibilidades que tiene su organización para optimizar su rendimiento, conocer de primera mano qué tecnologías y qué fabricantes son los más adecuadas para poder lograr el objetivo marcado.
                 </P>
                <button type="submit" class="btn btn-primary">Mas Informacion</button>
             </div>
      
      </div>
      </section>
  
      <section class="full-width formated-section ">
          <div class="">
         <div class="container">
         <div class="row">
             <div class="w-100" style="margin-top: 40px;"></div>

           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
             <i class="fa fa-server redesc"></i>
             <h3 class="titulo">Análisis </h3>
            
             <p class="text-center texto">
               Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
   
             </div>
   
             <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
              <i class="fa fa-database redesc"></i>
              <h3 class="titulo">Directorio Activo </h3>
             
              <p class="text-center texto">
                Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
    
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                <i class="fa fa-tv redesc"></i>
                <h3 class="titulo">Hyper-V </h3>
               
                <p class="text-center texto">
                  Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
      
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                  <i class="fa fa-window-restore redesc"></i>
                  <h3 class="titulo">VmWare </h3>
                 
                  <p class="text-center texto">
                    Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
        
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <i class="fa fa-power-off redesc"></i>
                    <h3 class="titulo">Microsoft Exchange Server </h3>
                   
                    <p class="text-center texto">
                      Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
          
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                      <i class="fa fa-upload redesc"></i>
                      <h3 class="titulo">Microsoft Lync Server </h3>
                     
                      <p class="text-center texto">
                        Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto</p>
            
                      </div>
           
                      
                      <section class="full-width formated-section">
                        <div class="container"> 
                         <div class="row bordes">
                           
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
                                 <img src="assets/img/sistemas.jpg"  class=" img-fluid" alt="Responsive image">
                               </div>
                               <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
                                <h3 class="titulo">Por que elegirnos</h3>
                                <hr> 
                                 <P class="text-justify " >Para llevar a cabo un proyecto de integración de sistemas en una organización, es importante conocer desde el principio el estado actual de su infraestructura, analizar todas las posibilidades que tiene su organización para optimizar su rendimiento, conocer de primera mano qué tecnologías y qué fabricantes son los más adecuadas para poder lograr el objetivo marcado.
                                   </P>
                                  <button type="submit" class="btn btn-primary">Mas Informacion</button>
                               </div>
                         </div>
                        </div>
                        </section>
             
   
         </div>
       </div>
       </div>
         
        </section>
   
   