

<section class="fondop">
  <div class="fondop1">
    <h2 class="text-center">CONSULTORIA</h2><br>
    <ul class="list-inline centra">
        <li class="list-inline-item"><a class="text-xs-center" href="#"><i class="fa fa-home"></i></a> </li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> ></a></li>
        <li class="list-inline-item"><a class="text-xs-center" href="#">Consultoria</a></li>
     </ul>
    </div>
  </section> 
  
  <section >

<section class="full-width formated-section">
    <div class="container"> 
     <div class="row bordes">
       
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
             <img src="assets/img/consulta1.jpg"  class="img-fluid" alt="Responsive image">
           </div>
           <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
            <h4>Actividades</h4>
            <hr> 
             <P class="text-justify " >Actividades tales como planeación, inversión, administración y proyección de la infraestructura de IT han venido tomando mayor importancia en las estrategias globales de las organizaciones. La gran mayoría de las industrias han visto como dichas actividades se han convertido en factores claves y/o determinantes para la continuidad y crecimiento de sus negocios, incluso han sido estas actividades las que han permitido el aprovechamiento de las nuevas oportunidades de negocios que la globalización de las economías y de los mercados ha generado.
               </P>
              <button type="submit" class="btn btn-primary">Mas Informacion</button>
           </div>
     </div>

     <div class="row bordes">
       
      
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
         <h4>Portafolio</h4>
         <hr> 
          <P class="text-justify " >Es por eso que TECSONI ofrece como parte de su portafolio el servicio de Consultoría de IT, el cual lo convierte en un aliado estratégico para su negocio, puesto que cuenta con el conocimiento y experiencia necesarios para apoyar a los responsables de las áreas de IT en el cumplimiento de los objetivos para las que han sido creadas; adicional que como resultado de los procesos consultivos y de implementación que  los primeros generen, se garantizara que las inversiones en tecnología serán tenidas en cuenta dentro de las organizaciones como factores de competitividad imprescindibles para el mantenimiento y crecimiento de las organizaciones.
            </P>
           <button type="submit" class="btn btn-primary">Mas Informacion</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
          <img src="assets/img/consulta2.jpg"  class=" img-fluid" alt="Responsive image">
        </div>
  </div>

  <div class="row bordes">
       
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
        <img src="assets/img/consulta3.jpg"  class=" img-fluid" alt="Responsive image">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
       <h4>Comunicaciones</h4>
       <hr> 
        <P class="text-justify " >AExperiencia en proyectos de alto valor añadiendo tecnologías Wireless, Switching, Routing, VoIP, comunicaciones unificadas de Micorsoft y HP.
         Las soluciones de red HP y Micorsoft crean una red integrada e intrínsecamente inteligente que se adapta a las necesidades actuales y futuras:

          </P>
         <button type="submit" class="btn btn-primary">Mas Informacion</button>
      </div>
</div>
    </div>

    
    </section>

   
     </section>
     <section class="full-width formated-section fondop2">
       <div class="fondo1">
      <div class="container">
      <div class="row">
          <div class="w-100" style="margin-top: 40px;"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <i class="fa fa-percent redesc"></i>
          <h3 class="text-left">Análisis </h3>
         
          <p class="text-left texto">
            Estudiamos las necesidades y requisitos de su negocio, evaluando la viabilidad del proyecto/p>

          </div>

           
        

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <i class="fa fa-envelope-square redesc"></i>
            <h3 class="text-left">Definición del plan </h3>
           
            <p class="text-left texto">
              Especificamos y concretamos qué debe hacerse, quién debe hacerlo, cuándo y con qué recursos </p>
            
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <i class=" fa fa-trademark redesc"></i>
              <h3 class="text-left">Implantación </h3>
             
              <p class="text-left texto">
                Ejecutamos lo acordado en las fases previas realizando las tareas planificadas para alcanzar los objetivos definidos previamente.
              </p>
              
              </div>
              <div class="w-100" style="margin-top: 10px;"></div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <i class="fa fa-audio-description redesc"></i>
                <h3 class="text-left">Cierre del proyecto </h3>
               
                <p class="text-left texto">
                    Aceptación y cierre formal del mismo. En esta fase es imprescindible asegurar la satisfacción del cliente
                </p>
                
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <i class="fa fa-fax redesc"></i>
                  <h3 class="text-left">Documentación  </h3>
                 
                  <p class="text-left texto">
                      Una vez finalizada la implantación y confirmado con el cliente el éxito de la misma.
                  </p>
                  
                  </div>
              

      </div>
    </div>
    </div>
      
     </section>

