<div class="container fondo ">
  <div class="fondo1">
    <section class="full-width ">
      <h2 class="centra">QUIENES SOMOS</h2><br> 
         
      <ul class="list-inline centra">
        <li class="list-inline-item"><a class="text-xs-center" href="#"><i class="fa fa-home"></i></a> </li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> ></a></li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> Quienes somos</a></li>
     </ul>               
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-lg-4" >
                <ul class="list-unstyled text-small centra">
               
                    <li><i class="fa fa-users redes"></i></li>
                    
                  </ul>
                <h4 class="text-center">NOSOTROS</h4>
                <p class="text-justify">
                    Somos una compañía dedicada a la prestación de servicios de consultoría, sistemas y comunicaciones. Aplicando nuestro amplio conocimiento y experiencia en el área de las IT logramos obtener la satisfacción del cliente en los distintos proyectos que requieren de nuestros servicios.
                </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-lg-4" >
                   
                  <ul class="list-unstyled text-small centra">
               
                        <li><i class="fa fa-credit-card redes"></i></li>
                        
                      </ul>
                    <h4 class="text-center">VISIÓN</h4>
                    
                    <p class="text-justify">
                      Las organizaciones necesitan cada vez más trabajar sobre plataformas estables y optimizadas, con una adecuada gestión de su almacenamiento, así como disponer de una red correctamente dimensionada y con un uso adecuado de los recursos.
                    </p>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-lg-4" >
                      <ul class="list-unstyled text-small centra">
               
                        <li><i class="fa fa-users redes"></i></li>
                        
                      </ul>
                        <h4 class="text-center">MISIÓN</h4>
                        <p class="text-justify">
                          Diseño y construcción de centros de cómputo: obra civil, aire acondicionado, energía, cableado estructurado fibra óptica, seguridad electrónica, UPS y generadores eléctricos.
                        </p>
                        </div>
             
              
            
        </div>
     
          </section>
        </div>
</div>