<section class="fondop">
  <div class="fondop1">
    <h2 class="text-center">Soluciones De Infraestructura Tecnolólogica</h2><br>
    <ul class="list-inline centra">
        <li class="list-inline-item"><a class="text-xs-center" href="#"><i class="fa fa-home"></i></a> </li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> ></a></li>
        <li class="list-inline-item"><a class="text-xs-center" href="#">Soluciones</a></li>
     </ul>
    </div>
  </section> 
  
  <section >

<section class="full-width formated-section">
    <div class="container"> 
    
       
        
           <div class="col-xs-12 col-sm-6 col-md-6 col-lg centra">
            <h1 class="">Soluciones</h1>
            <hr> 
             <P class="text-justify " >
              Diseño, Construcción, Mantenimiento y Traslado de Centros de Cómputo
                <br>
                Diseño y construcción de centros de cómputo: obra civil, aire acondicionado, energía, cableado estructurado fibra óptica, seguridad electrónica, UPS y generadores eléctricos.
              <br>
              Bajo las normas EIA/TIA/942, BICSI-002 e ICREA-1312009 diseñamos y montamos soluciones para centros de procesamiento de datos incluyendo todos los subsistemas que los conforman así: piso falso, sistemas de detección y extinción de incendios, CCTV, control de acceso, puertas corta fuego, cableado estructurado, fibra óptica preconectorizada, aire acondicionado de precisión, UPS y racks.
              </P>
           <br>
           </div>
    
    </div>
    </section>

    <section class="full-width formated-section ">
       
       <div class="container">
        <div class="row justify-content-md-center">
            <div class="w-100" style="margin-top: 50px;"></div>
          <ul class="col-xs-12 col-sm-6 col-md-4 col-lg-4 list-unstyled">
            <li><i class="fa fa-check-circle mx-2"></i>Diseño</li>
            <li><i class="fa fa-check-circle mx-2"></i>Obra Civil</li>
            <li><i class="fa fa-check-circle mx-2"></i>Suministro e Instalación de Equipos</li>
            <li><i class="fa fa-check-circle mx-2"></i>Mantenimiento</li>
            <li><i class="fa fa-check-circle mx-2"></i>Traslados Tecnológicos</li>
            </ul>
            
            <ul class="col-xs-12 col-sm-6 col-md-4 col-lg-4 list-unstyled">	
            	<li><i class="fa fa-check-circle mx-2"></i>Sistemas de Aire Acondicionado</li>
            	<li><i class="fa fa-check-circle mx-2"></i>Sistemas de Seguridad / Control de Acceso.</li>
            	<li><i class="fa fa-check-circle mx-2"></i>Sistemas de Detección y Extensión </li>
            	<li ><i class="fa fa-check-circle mx-2"></i>Servicios de Pruebas.</li>
            </ul> 
        </div>
        </div>
      </section>
        <section class="full-width formated-section">
          <div class="container"> 
           <div class="row bordes">
             
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
                   <img src="assets/img/infra.jpg"  class=" img-fluid" alt="Responsive image">
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
                  <h3 class="titulo">Profesionalismo</h3>
                  <hr> 
                   <P class="text-justify " >Contamos con los Profesionales y la Infraestructura necesaria para ofrecer a nuestros clientes Servicios y Productos de alta calidad, que cumplen con toda la normatividad técnica requerida. Administramos y ejecutamos proyectos de ingeniería en las modalidades Llave en Mano o por Precios Unitarios fijos</P>
                    <button type="submit" class="btn btn-primary">Mas Informacion</button>
                 </div>
           </div>
          </div>
          </section>

    
    
       
      
 
 