<br>

<section class="banner">
 <div class="banner-content">

  <h1>Innovacion y tecnologia</h1>
  <ul class="list-unstyled text-small">
    
  <li>
    <a href="https://www.facebook.com/Tecsoni-SAS-104823024398497/?modal=admin_todo_tour">
    <i class="fa fa-facebook-square redes1"></i>
  </a>
    <a href=" https://wa.me/573115820604?text=Hola,%20Gracias%20por%20contactarnos">
      <i class="fa fa-whatsapp redes1"></i>
    </a></li>
 
</ul>

 </div>

</section>

<section class="full-width  formated-section">
    <div class="container text-center">
        
      <div class="row">
    <h1 class="display-4">Un mundo de soluciones tecnológicas</h1>
   
    <p class="lead">Somos una compañía dedicada a la prestación de servicios de
        consultoría, sistemas y comunicaciones. Aplicando nuestro amplio
        conocimiento y experiencia en el área de las IT logramos obtener la
        satisfacción del cliente en los distintos proyectos que requieren de
        nuestros servicios.</p>

</div> 
<hr class="my-4">
</div>
  </section>
<section class="full-width formated-section">
    <h2 class="text-center">NUESTROS SERVICIOS</h2><br>
  <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <img src="assets/img/share.png"  class=" rounded img-fluid" alt="Responsive image">
        <h3 class="text-center">Share Point</h3>
        <p class="text-center">
           Inova Tus ideas 
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/img/active.png"  class=" rounded img-fluid" alt="Responsive image">
            <h3 class="text-center">Active Directory</h3>
            <p class="text-center">
             Organiza tus servicios
            </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/vmware.png"  class=" rounded img-fluid" alt="Responsive image">
                <h3 class="text-center">vmware</h3>
                <p class="text-center">
                    Manten alta disponibilidad
                </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <img src="assets/img/cisco.png"  class=" rounded img-fluid" alt="Responsive image">
                    <h3 class="text-center">Comunicaciones</h3>
                    <p class="text-center">
                        Conecta el mundo
                    </p>
                    </div>


              

    </div> 
  </div>

</section>

<section class="full-width formated-section">

   <div class="container text-center">
        <h2 class="text-center">OTROS SERVICIOS</h2><br>
      <div class="row bordes">
        
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
              <img src="assets/img/office.jpg"  class=" img-fluid" alt="Responsive image">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
             <h4>PRODUCTO REFURBISHED</h4>
             <hr> 
              <P class=" lead text-justify" >Aunque un producto haya dejado de fabricarse,
                 TECSONI dispone de las herramientas necesarias para localizar y
                  suministrar dicho material. Este material es conocido en el mercado como REFURBISHED o REMARKETING.
                 </P>
               <button type="submit" class="btn btn-primary">Mas Informacion</button>
            </div>
      </div>
      <div class="row  bordes1">
        
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
              <h4>ASESORÍA ESPECIALIZADA</h4>
              <hr>
              <P class=" lead text-justify" >TECOSNI cuenta con un equipo de profesionales, expertos en IT Hardware, que permite ofrecer siempre a sus clientes la solución que mejor se ajusta a cada proyecto, necesidad y presupuesto. El conocimiento técnico del producto es esencial para detectar las necesidades del cliente y llevar a cabo los proyectos con éxito, consiguiendo optimizar al máximo el coste de las operaciones.</P>
                    <button type="submit" class="btn btn-primary">Mas Informacion</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-end"  >
             
                <img src="assets/img/negocio.jpg"  class="img-fluid  " alt="Responsive image">
            
            </div>

            
      </div>

      
    </div>
      </section> 
      
      <section class="full-width ">
        <h2 class="text-center">CERTIFICACIONES</h2><br>
      <div class="container">
        <div class="row">
        
            <div class="card-deck">
                <div class="card">
                  
                  <div class="card-body">
                    <h5 class="card-title">Unified communications</h5>
                    <p class="card-text">Certificaciones en productos</p>
                    <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                  </div>
                </div>
                <div class="card">
                 
                  <div class="card-body">
                    <h5 class="card-title">Infrastructure Architect</h5>
                    <p class="card-text">Certificaciones en productos</p>
                    <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                  </div>
                </div>
                <div class="card">
                 
                  <div class="card-body">
                    <h5 class="card-title">Microsoft Certified Professional</h5>
                    <p class="card-text">Certificaciones en productos</p>
                    <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                  </div>
                </div>
                
                
                <div class="card">
                  
                  <div class="card-body">
                    <h5 class="card-title">Microsoft Solutions Expert Communication</h5>
                    <p class="card-text">Certificaciones en productos</p>
                    <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                  </div>
                </div>
                <div class="w-100" style="margin-top: 10px;"></div>
                <div class="card">
                   
                    <div class="card-body">
                      <h5 class="card-title">HP ASE – FlexNetwork Architect V2</h5>
                      <p class="card-text">Certificaciones en productos</p>
                      <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                    </div>
                  </div>
                  <div class="card">
                      
                      <div class="card-body">
                        <h5 class="card-title">CCNA- Cisco Certified Network Associate Security</h5>
                        <p class="card-text">Certificaciones en productos</p>
                        <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                      </div>
                    </div>
                    <div class="card">
                       
                        <div class="card-body">
                          <h5 class="card-title">VMware vSphere 6.5 Foundations Exam</h5>
                          <p class="card-text">Certificaciones en productos</p>
                          <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                        </div>
                      </div>
                      <div class="card">
                          
                          <div class="card-body">
                            <h5 class="card-title">Fortinet Certified</h5>
                            <p class="card-text">Certificaciones en productos</p>
                            <p class="card-text"><small class="text-muted">Siempre al dia</small></p>
                          </div>
                        </div>

              </div>  
             
              
            
        </div>
        </div>
          </section>
      
      <div class="container  text-center" style="overflow: hidden;">
        <h2>NUESTROS CLIENTES</h2>
         <section class="customer-logos slider">
          
            <div class="slide"><img src="assets/img/CGN.jpg"></div>
            <div class="slide"><img src="assets/img/DGSM.jpg"></div>
            <div class="slide"><img src="assets/img/DS.jpg"></div>
            <div class="slide"><img src="assets/img/EMTEL.jpg"></div>
            <div class="slide"><img src="assets/img/FAMOC.jpg"></div>
            <div class="slide"><img src="assets/img/SIC.jpg"></div>
            <div class="slide"><img src="assets/img/USPEC.jpg"></div>
         </section>
         
      </div>   
<br>

  