<section class="fondop">
  <div class="fondop1">
    <h2 class="text-center">COMUNICACIONES</h2><br>
    <ul class="list-inline centra">
        <li class="list-inline-item"><a class="text-xs-center" href="#"><i class="fa fa-home"></i></a> </li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> ></a></li>
        <li class="list-inline-item"><a class="text-xs-center" href="#"> Quienes somos</a></li>
     </ul>
    </div>
  </section> 
  
  <section >

<section class="full-width formated-section">
    <div class="container"> 
     <div class="row bordes">
       
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
             <img src="assets/img/redes.jpg"  class=" img-fluid" alt="Responsive image">
           </div>
           <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1">
            <h4>Comunicaciones</h4>
            <hr> 
             <P class="text-justify " >AExperiencia en proyectos de alto valor añadiendo tecnologías Wireless, Switching, Routing, VoIP, comunicaciones unificadas de Micorsoft y HP.
              Las soluciones de red HP y Micorsoft crean una red integrada e intrínsecamente inteligente que se adapta a las necesidades actuales y futuras:
    
               </P>
              <button type="submit" class="btn btn-primary">Mas Informacion</button>
           </div>
     </div>
    </div>
    </section>

     <div class="row bordes seccion">
       
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg butron1 col align-self-start" >
            <img src="assets/img/prueba.png"  class=" img-fluid" alt="Responsive image">
          </div>
        
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-20">


            <div class="col-xs-12 col-sm-13 col-md-13 col-lg-12 izquierda">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-home redesc"></i></li>
                    <li class="list-inline-item"><h3> conectividad</h3></li>
                 </ul>
                <p class="text-justify">
                    Proporcionar conectividad segura, sin restricciones entre los empleados, los clientes y la información
      
                </p>
                </div> 
                
                <div class="col-xs-12 col-sm-13 col-md-13 col-lg-12 izquierda">
                    <ul class="list-inline" >
                        <li class="list-inline-item"><i class="fa fa-address-book redesc"></i></li>
                        <li class="list-inline-item"><h3> calidad</h3></li>
                     </ul>
                    <p class="text-justify">
                        Proporcionar aplicaciones de calidad y en tiempo real, como voz y vídeo, en una plataforma de red convergente
          
                    </p>
                    </div> 
               
                    <div class="col-xs-12 col-sm-13 col-md-13 col-lg-12 izquierda">
                        <ul class="list-inline" >
                            <li class="list-inline-item"><i class="fa fa-wifi redesc"></i></li>
                            <li class="list-inline-item"><h3> Acceso</h3></li>
                         </ul>
                        <p class="text-justify">
                            Ayudar a garantizar el acceso a la información y a los recursos desde cualquier lugar
              
                        </p>
                        </div> 

                        <div class="col-xs-12 col-sm-13 col-md-13 col-lg-12 izquierda">
                            <ul class="list-inline" >
                                <li class="list-inline-item"><i class="fa fa-server redesc"></i></li>
                                <li class="list-inline-item"><h3> Administracion</h3></li>
                             </ul>
                            <p class="text-justify">
                                Automatizar una red de autodefensa y de fácil administración
                                Reducir los gastos operativos
                  
                            </p>
                            </div> 
         
        </div>
  
  </div>
     </section>

